.main {
  display: flex;
  flex-direction: column;
  padding: 64px 200px 64px 200px;
  gap: 3rem;
}

.second {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}
