.emptyview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  gap: 16px;
}
.emptyimage {
  height: 180px;
  width: auto;
}
.text {
  color: #a0d3cc;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
