.heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.para {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.para p {
  font-size: 18px;
  font-weight: 400;
  color: #a0d3cc;
}
