.todobutton {
  font-size: 18px;
  font-weight: 400;
  padding: 18px 48px;
  border-radius: 6px;
  background-color: #208bee;
  color: #e6e6e6;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
.todobutton:hover {
  box-shadow: 0px 2px 16px rgba(32, 139, 238, 0.5);
}
.dialogcontainer {
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modalinputcontainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.error {
  background-color: #f03738;
  border-radius: 8px;
  color: #ffffff;
  padding: 12px 14px;
}
.inputcontainer .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  font-size: 18px;
  border-radius: 8px;
  width: 500px;
}
.modalbuttoncontainer {
  display: flex;
  gap: 16px;
}

.dialogbutton1 {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  padding: 14px 40px;
  border-radius: 6px;
  background-color: #f9fbfd;
  color: #208bee;
  border: 1px solid #208bee;
  box-shadow: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.dialogbutton2 {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  padding: 14px 40px;
  border-radius: 6px;
  background-color: #208bee;
  color: #e6e6e6;
  border: none;
  box-shadow: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.dialogbutton1:hover {
  box-shadow: 0px 3px 16px rgba(32, 139, 238, 0.2);
}
.dialogbutton2:hover {
  box-shadow: 0px 3px 16px rgba(32, 139, 238, 0.2);
}

.titleheading {
  font-size: 24px;
  font-weight: 600;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  border-radius: 8px !important;
}
